################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartHomeSCADA/.vs/SmartHomeSCADA
